
@{
    ViewData["Title"] = "Thank You";
}

@model moviesApp.Models.Movie

<div class="text-center">
    <h1 class="display-4">Confirmation</h1>
    <br>
    <h2>Thanks for submitting!</h2>
    <br>
    <h3>your database @ViewBag.userAction successful</h3>
</div>
