
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br>
    <h3>The Joel Hilton Film Collection</h3>
    <br>
    <h5>navigate using the menu above</h5>
    <br>
    <img src="/assets/img/JoelHiltonHeadshot.jpg" alt="Joel Hilton himself">
</div>
