
@{
    ViewData["Title"] = "BaconSale Podcast";
}
<h2>My Podcasts</h2>
<br>
<div class="text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Bacon" rel="noopener noreferrer" target="_blank">BaconSale</a>
</div>
<br>
